/* 
    Created on : 3/08/2016, 12:27:46 PM
    Author     : Jack Gammon
    Description: CSS for the simon game
*/



@font-face {
    font-family: 'digital-7';	
    src: url('digital-7 (mono).ttf');
}

#streak-text{
    font-family: digital-7;
    fill: red;

}

html, body {
    background: #393E3D;
}

#outerEllipse {
    fill: black;
}

#innerEllipse {
    fill: black;
}

#lcd-painted-text1{
    fill:white;

}

