/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/08/2016, 12:27:46 PM
    Author     : jack
*/

@font-face {
	font-family: 'digital-7';	
	src: url('digital-7 (mono).ttf');
}

#streak-text{
	font-family: digital-7;
	fill: red;

}



#lcd-painted-text1{
	fill:white;

}